<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Bienvenue sur Java Skills</h1>
    <p>Une application Java qui te permettra de gérer tes compétences en programmation.</p>
    <a type="button" class="btn btn-lg btn-default" href=""><span class="glyphicon glyphicon-flash"></span>En savoir plus</a>
    <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span>Sources GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
  Suivre ses compétences peut être difficile, à travers JavaSkills vous pourrez le faire facilement.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Comment cette application fonctionne</h3>
      <ul>
        <li>Suis ta progression dans tes compétences en programmation.</li>
      </ul>
    </div>

  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
     Commence à gérer tes compétences dès maintenant
  </div>
</div>

</body>
</html>
